ul.list.list-horizontal.mt-4.mb-3
    li
        a(href='https://avris.it', target='_blank', rel='noopener')
            span.far.fa-user
            = ' Andre Prusinowski'
    li
        a(href='mailto:andre@avris.it', target='_blank', rel='noopener')
            span.far.fa-envelope
            = ' andre@avris.it'
    li
        a(href='https://twitter.com/AvrisIT', target='_blank', rel='noopener')
            span.fab.fa-twitter
            = ' @AvrisIT'
    li
        a(href='https://gitlab.com/Avris/Generator', target='_blank', rel='noopener')
            span.fab.fa-gitlab
            = ' Gitlab'
    li
        a(href='https://www.npmjs.com/package/avris-generator', target='_blank', rel='noopener')
            span.fab.fa-npm
            = ' NPM'
p.
    Built with <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a>,
    <a href="https://bootswatch.com/" target="_blank" rel="noopener">Bootswatch</a>,
    <a href="https://avris.it/dl/columnist/" target="_blank" rel="noopener">Columnist</a>,
    icons from <a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome</a>,
    icons by <a href="https://thenounproject.com/iconka/collection/sketchy-icons/" target="_blank" rel="noopener">Denis Sazhin</a> from the Noun Project,
    web fonts from <a href="https://fonts.google.com/" target="_blank" rel="noopener">Google</a>,
    emojis from <a href="https://github.com/twitter/twemoji" target="_blank" rel="noopener">Twitter</a>
    and a photo by <a href="https://unsplash.com/photos/vGsf7HSWOU8" target="_blank" rel="noopener">Tran Mau Tri Tam</a> on Unsplash.
