extends layout

block nav
    ul.list-horizontal
        each countryGenerators, country in generators
            li
                a(href='#' + country, data-filter-target='.generators', data-filter-value=country).btn.btn-outline-info.btn-lg.shadow.shadow-hoverable
                    = flag(country)
                    = ' '
                    = t('country.' + country)

block content
    .row.grid.generators
        each countryGenerators, country in generators
            each generators, name in countryGenerators
                .col-12.col-lg-6.col-xl-4.grid-item.pb-4(data-filter-value=country)
                    .generator.card.shadow(data-country=country, data-generator=name)
                        .card-body
                            .card-title.d-flex.flex-column.flex-lg-row
                                h2.flex-grow-1.text-nowrap.pr-4
                                    = flag(country)
                                    = ' '
                                    = t(`generator.${country}.${name}.name`)
                                div.text-right
                                    = t(`generator.${country}.${name}.description`)
                            .form-group.has-success
                                .input-group
                                    input.form-control.is-valid.generator-output
                                    .input-group-append
                                        button.btn.btn-outline-secondary.btn-clipboard
                                            span.far.fa-clipboard
                                    .input-group-append
                                        button.btn.btn-outline-primary.btn-generate
                                            span.far.fa-random
                                .feedback
                        div !{includedynamic(`generators/${country}/${name}.pug`)}

    .alert.alert-light.mt-5
        p
            span.far.fa-info-circle
            = ' '
            = t('purpose')
        p
            span.far.fa-info-circle
            = ' '
            = t('clientSide')

    .text-white.mt-5
        h2= t('api.header')
        ul.list
            li
                code.mr-2= 'GET /api'
                = t('api.index.get')
            li
                code.mr-2= 'GET /api/:country/:generator?param=value'
                = t('api.generate.get')
            li
                code.mr-2= 'GET /api/:country/:generator/:number'
                = t('api.validate.get')
            li
                code.mr-2= 'GET /api/barcode/ean13/:number.svg'
                = t('api.barcode.svg')

    .text-white.mt-5
        h2= t('lib.header')
        pre
            code.
                yarn add avris-generator

        pre
            code.
                const gm = require('avris-generator');

                const pesel = gm.generate('PL', 'pesel', {gender: 'm'});

                try {
                    const data = gm.validate('PL', 'pesel', '12345678900');
                    // valid
                } catch (e) {
                    // invalid
                    alert(e.message);
                }

    .text-white.mt-5
        h2= t('contribute.header')
        p
            = t('contribute.content')
            = ' '
            a(href='https://gitlab.com/Avris/Generator', target='_blank', rel='noopener').text-white.link-simple
                span.fab.fa-gitlab
                = ' gitlab.com/Avris/Generator'

