.card-footer.pb-0
    .row
        .col-6.text-center
            label
                input(type='radio', name='regon-length', data-param='length', value='9', checked)
                = t('generator.PL.regon.length', {length: 9})
        .col-6.text-center
            label
                input(type='radio', name='regon-length', data-param='length', value='14')
                = t('generator.PL.regon.length', {length: 14})
