body {
  background: fixed url('../../images/background.jpg') center;
  background-size: cover;
  min-height: 100vh;
}

header {
  h1 {
    font-size: 4rem;
  }
}

footer {
  background-color: rgba(0, 0, 0, .6);
  color: $white;
  a {
    color: $white;
    text-decoration: none;
    &:hover,&:active,&:visited {
      color: $white;
    }
  }
}

img {
  max-width: 100%;
}

.link-simple {
  text-decoration: none;
}
