@mixin listHorizontal {
  &.list-horizontal {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
      position: relative;
      display: inline;
      vertical-align: middle;
      &:after {
        content: " ";
        margin: 0 8px;
        display: inline-block;
      }
      &:last-child:after {
        content: " ";
        margin: 0;
        display: inline-block;
      }
    }
    &.list-horizontal-wide {
      > li {
        &:after {
          margin: 0 16px;
        }
        &:last-child:after {
          margin: 0;
        }
      }
    }
    &.list-horizontal-separated {
      > li {
        &:after {
          content: "|";
        }
        &:last-child:after {
          content: " ";
        }
      }
    }
  }
}

ul, ol {
  &.list {
    display: block;
    list-style-type: none;
    padding: 0;
    > li {
      margin: 8px 0;
    }
  }

  &.list-horizontal-xs {
    @include listHorizontal;
  }

  @include media-breakpoint-up(xs) {
    @include listHorizontal;
  }
}

.list-spread {
  > a, > span {
    margin: 0 8px;
    display: inline-block;
  }
}

.links-spread {
  > a, > span {
    margin: 0 0.5em;
  }
}

a.list-group-item-link {
  margin: #{-$list-group-item-padding-y} #{-$list-group-item-padding-x};
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  display: inline-block;
  width: 100%;
  transition: margin-left .25s ease;

  &:hover {
    margin-left: 0;
  }
}
