.card-footer.pb-0
    .row.mx-0
        each type in ['dni', 'nie', 'nif', 'cif', '']
            .col-6
                label
                    input(type='radio', name='nif-type', data-param='type', value=type, checked=(type===''))
                    = t('type.' + type)
